[workspace.package]
license = "Apache-2.0"
authors = ["rust-evm Developers <contact-rust-evm@pacna.org>"]
repository = "https://github.com/rust-ethereum/evm"
keywords = ["no_std", "ethereum", "evm"]

[package]
name = "evm"
version = "1.0.0-dev"
edition = "2021"
license = { workspace = true }
authors = { workspace = true }
repository = { workspace = true }
keywords = { workspace = true }
description = "Ethereum Virtual Machine"

[dependencies]
primitive-types = { version = "0.12", default-features = false, features = ["rlp"] }
sha3 = { version = "0.10", default-features = false }

evm-interpreter = { version = "1.0.0-dev", path = "interpreter", default-features = false }

[dev-dependencies]
hex = { version = "0.4", features = [ "serde" ] }

[features]
default = ["std"]
std = [
	"primitive-types/std",
	"sha3/std",
	"evm-interpreter/std",
]
with-codec = [
	"primitive-types/codec",
	"primitive-types/scale-info",
	"evm-interpreter/with-codec",
]
with-serde = [
	"primitive-types/impl-serde",
	"evm-interpreter/with-serde",
]

[workspace]
members = [
	"interpreter",
	"jsontests",
	"precompile",
	"tracer",
]
