[package]
name = "evm-gasometer"
version = "0.37.0"
license = "Apache-2.0"
authors = ["Wei Tang <hi@that.world>", "Parity Technologies <admin@parity.io>"]
description = "Portable Ethereum Virtual Machine implementation written in pure Rust."
repository = "https://github.com/sorpaas/rust-evm"
keywords = ["no_std", "ethereum"]
edition = "2018"

[dependencies]
environmental = { version = "1.1.2", default-features = false, optional = true }
primitive-types = { version = "0.12", default-features = false }

evm-core = { version = "0.37", path = "../core", default-features = false }
evm-runtime = { version = "0.37", path = "../runtime", default-features = false }

[features]
default = ["std"]
std = [
	"environmental/std",
	"primitive-types/std",
	"evm-core/std",
	"evm-runtime/std",
]
tracing = [
	"environmental",
]
